/*top bar
.navbar{
    width: 100%;
    background-color:#0F163B;
    overflow:auto;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow:hidden;
}

li {
    float:right;
}

li a,.dropbtn{
    display:inline-block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display:inline-block;
}

.dropdown-content{
    position:absolute;
    background-color: #812222;
    min-width:160px;
    z-index:1;
}

.dropdown-content a{
    color:#50be46;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align: right;
}

.dropdown:hover .dropdown-content {
    display: block;
  }
*/

/*new*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(40, 87, 1);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }










/*side bar*/
#navimenu {
    position: fixed;
    top: 54px;
    left:10;
    width: 150px;
    height: 5000px;
}

.navimenu a{
    color:#0F163B;
}

.box {
    margin-left:0%;
    width: 100px;
    padding: 10px;
    margin: 10px;
    color:#0F163B
}

a:hover, .box:hover{
    background-color: white;
    color:#50be46;
}

/* card*/
*{
    box-sizing: border-box;
}

h2{
    font-family: Arial;
}

body{
    font-family: Roboto;
    background-color: #EEF9ED;
}
.column{
    float: left;
    width: 50%;
    padding: 20px;
    box-shadow: 10px;
    background: #EFFEFB;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}